:root {
    --primario: #B88940;
    --secundario: #FFBD59;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px;  /* 1rem = 10px */
    font-family: "Ruda", sans-serif;
}

.center-line {
    width: 120rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.black-line{
    width: 10.3rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: black;
    /* margin: 5rem auto 0 auto; */
    margin-left: auto;
    margin-right: auto;
}

.container-header {
    width: 120rem;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
}

.center {
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0 0 0;
    height: 2rem;
    font-weight: 700;
}

.end-of-season {
    letter-spacing: 1rem;
    font-weight: 900;
}

.lorem-header {
    font-size: 3rem;
    margin-top: 7rem;
    margin-bottom: 15rem;
    text-align: center;
    font-family: "Catamaran", sans-serif;
    font-weight: 700;
    text-transform: none;
}

.sale {
    margin-top: 0;
    font-size: 10rem;
    height: 5rem;
    color: var(--primario);
    text-align: center;
    letter-spacing: 2rem;
    font-weight: 900;
}

.cincuenta {
    font-size: 5rem;
    font-weight: 900;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 1rem;
}

.box-main { 
    width: 100%;
    margin-top: 3rem;
    height: 30px; 
    background-color: var(--secundario);
    position: relative;
    z-index: 1;
}

.img {
    width: 20rem;
    height: 28rem;
    position: relative;
    z-index: 2;
    top: -25rem;
}

.prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 10rem;
}

.price {
    width: 12rem;
    position: relative;
    top: -25rem;
    font-size: 2rem;
    font-weight: 700;
}

.container-footer {
    width: 120rem;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
}

.your-fashion {
    margin-top: 0;
    font-size: 6rem;
    height: 1rem;
    color: var(--primario);
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 900;
}